name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: how many times it occurs
      id: how-many-times-it-occurs
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: how many times it occurs
        setup-command: gcc main.c -o main.o
        command: "./main.o"
        input: |-
          83
          17
          42
          5
          17
          91
          63
          12
          77
          34
          10
          58
          17
          29
          64
          73
          81
          17
          50
          46
          3
          92
          17
          39
          28
          14
          69
          1
          55
          47
          17
          62
          31
          74
          90
          6
          17
          26
          48
          88
          53
          17
          94
          13
          60
          71
          25
          17
          85
          2
          41
          57
          17
          32
          68
          11
          52
          93
          7
          17
          96
          19
          30
          17
          84
          9
          43
          59
          17
          22
          66
          18
          75
          40
          17
          27
          35
          82
          17
          45
          8
          56
          17
          95
          24
          70
          17
          38
          49
          20
          17
          65
          15
          72
          87
          17
        expected-output: '22'
        comparison-method: contains
        timeout: 1
        max-score: 100
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        HOW-MANY-TIMES-IT-OCCURS_RESULTS: "${{steps.how-many-times-it-occurs.outputs.result}}"
      with:
        runners: how-many-times-it-occurs
